{% extends "base.html" %}
{% block title %}Steam Games List Diff{{ ': %s - %s'|format(user1.personaname, user2.personaname) }}{% endblock title %}
{% block head %}
<meta property=og:title content="{{ self.title() }}" />
<meta property=og:type content=website />
<meta property=og:site_name content=SteamGLD />
<meta property=og:description content="Comparação entre as bibliotecas de {{user1.personaname +" e "+ user2.personaname }}."/>
{{ super() }}
{% endblock %}
{% block content %}
<div class=container-fluid>
    <div class="row">
        <div class=col-sm>
            <div class=card>
                <div class=card-header>
                    <a href="{{ user1.profileurl }}">
                        <img class=float-left src="{{ user1.avatarmedium }}" alt="{{ user1.personaname }}" title="{{ user1.personaname }}">
                        <h4>{{ user1.personaname }}</h4>
                    </a>
                </div>
                <div class=card-body>
                    <ul class="list-unstyled">
                        {% for game in games_user1 %}
                        <li class="media">
                            <img class="mr-3" src="{{ game.img_icon_full_url }}" alt="{{ game.name }}">
                            <div class="media-body">
                                <h6 class="mt-0 mb-1">{{ game.name }}</h6>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class=col-sm>
            <div class=card>
                <div class="card-header text-center">
                        <img src="{{ user1.avatarmedium }}" alt="{{ user1.personaname }}" title="{{ user1.personaname }}"><img src="{{ user2.avatarmedium }}" alt="{{ user2.personaname }}" title="{{ user2.personaname }}">
                </div>
                <div class=card-body>
                    <ul class="list-unstyled">
                        {% for game in games_both %}
                        <li class="media">
                            <img class="mr-3" src="{{ game.img_icon_full_url }}" alt="{{ game.name }}">
                            <div class="media-body">
                                <h6 class="mt-0 mb-1">{{ game.name }}</h6>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class=col-sm>
            <div class=card>
                <div class=card-header>
                    <a href="{{ user2.profileurl }}">
                        <img class=float-right src="{{ user2.avatarmedium }}" alt="{{ user2.personaname }}" title="{{ user2.personaname }}">
                        <h4>{{ user2.personaname }}</h4>
                    </a>
                </div>
                <div class=card-body>
                    <ul class="list-unstyled">
                        {% for game in games_user2 %}
                        <li class="media">
                            <img class="mr-3" src="{{ game.img_icon_full_url }}" alt="{{ game.name }}">
                            <div class="media-body">
                                <h6 class="mt-0 mb-1">{{ game.name }}</h6>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
